@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
    background-color: #FEFEFE;
    color: #000;
    display: flex;
    height: 100vh;
}

main {
    margin: 46px 0 0 114px;
}

h2 {
    font-family: 'Soyuz', sans-serif;
    font-size: 120px;
    line-height: 30%;
    margin-bottom: 50px;
}

h3 {
    font-family: 'Soyuz', sans-serif;
    font-size:48px;
    line-height: 30%;
    margin-bottom: 65px;
}

a {
    text-decoration: none;
    color: #000;
}

.sidebar {
    width: 241px;
    height: 100vh;
    border-right: #000 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    padding-top: 46px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-left: 47px;
    font-size: 16px;
}

.btn-logout {
    width: 122px;
    margin: 46px ;
    padding: 15px 20px 15px 46px;
    background: url('../img/logout.svg') no-repeat 16px center / 25px;
    border-radius: 100px;
    border: 1px solid #000;
}

.btn-login {
    color: #f4f4f4;
    background: #000;
    font-family: 'Unbounded', sans-serif;
    border-radius: 100px;
    border: 1px solid #000;
    padding: 15px 25px;
}
.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
    border-radius: 100px;
    border: 1px solid #000;
    width: 262px;
    height: 58px;
    margin-top: 38px;
}

.add-dis-btn {
    background: #000;
    color: #fff;
}

.choice-btn {
    background: #F3E0FF;
    margin-right: 25px;
}

.dep-btn {
    background: #D6E0F4;
}

.dep-btn > span, .choice-btn > span {
    margin-right: 12px;
}

.add-btn span, .add-btn {
    font-size: 13.3px;
    font-weight: 300;
}

.login-form {
    margin-top: 100px;
}

.login-form > label > input {
    margin-right: 20px;
    outline: none;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 18px;
    height: 30px;
}

/* Стили для таблицы */
.department-table, .employees-table, .subjects-table {
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 15px;
    border-collapse: collapse;
    width: 620px;
}

.employees-table {
    width: 830px;
}

.subjects-table {
    width: 515px;
}

/* Шапка таблицы */
.table-header, .table-header-emp {
    display: flex;
}

.table-header span, .table-header-emp span{
    flex: 1;
    padding: 28px 0 14px 0;
    border-bottom: 1px solid #000;
    text-align: left;
    font-weight: 300;
    font-size: 12px;
}

.table-header span:first-of-type {
    padding: 28px 0 14px 19px;
    flex: 2;
}

.table-header-emp span {
    padding-left: 16px;
}

.table-subjects-row {
    font-weight: 400;
}

/* Строка таблицы */
.table-row, .table-row-emp {
    display: flex;
}

.table-row span, .table-row-emp span {
    flex: 1;
    padding: 16px 19px;
    font-weight: 400;
}

.table-row-emp > span > a {
    font-size: 12px;
    text-align: center;
    margin-left: 20px;
    text-decoration: underline;
}

.table-row span:first-of-type, .table-row-emp span:not(:last-child) {
    flex: 2;
    padding: 16px 19px;
    border-right: 1px solid #000;
}

.table-subjects-row {
    padding: 16px 19px;
}

.table-row-emp span:not(:last-child){
    flex: 1;
}

.has-border:not(:last-child) {
    border-bottom: 1px solid #000;
}

.employee-details {
    display: flex;
    gap: 120px;
    justify-content: space-between;
}

.detail-name {
    font-size: 12px;
}

.detail-info {
    margin-top: 11px;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 70%;
}

.detail-info ul li {
    list-style: none;
    margin-bottom: 10px;
}
